<!-- 
<div>
    <nav class="nav container">
        
        <a class="nav_-logo">
          Vishal
        </a>
        <div class="nav_-menu" id="nav-menu">
        <ul class>
            <li>
                <a href="#"> 
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                  About
                </a>
            </li>
            <li>
                <a routerLink="/qualification">
                   Skill
                </a>
            </li>
            <li>
                <a href="#">
                   Experience
                </a>
            </li>
            <li>
                <a href="#">
                   Services 
                </a>
            </li>
            <li>
                <a href="#">
                   Contact 
                </a>
            </li>
            <button>Downloade Resume</button>
        </ul>
    </div>
    </nav>
</div>

 -->

 <!-- <div>
    <nav class="nav container">
        
        <a class="nav_-logo">
          Vishal
        </a>
        <div class="nav_-menu" id="nav-menu">
        <ul class="nav__list grid">
            <li class="nav__item">
                <a href="#" class="nav__link"> 
                    <i class="uil uil-estate"></i>
                    Home
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="uil uil-user"></i> 
                    About
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="uil uil-file-info-alt"></i> 
                    skill
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link"> 
                    <i class="uil uil-briefcase-alt"></i>
                    Services
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="uil uil-scenery"></i> 
                    Portfolio
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link"> 
                    <i class="uil uil-message"></i>
                    Contact me
                </a>
            </li> -->
            <!-- <li>
                <a href="#">
                  About
                </a>
            </li>
            <li>
                <a routerLink="/qualification">
                   Skill
                </a>
            </li>
            <li>
                <a href="#">
                   Experience
                </a>
            </li>
            <li>
                <a href="#">
                   Services 
                </a>
            </li>
            <li>
                <a href="#">
                   Contact 
                </a>
            </li> -->
            <!-- <button>Downloade Resume</button>
        </ul>
    </div>
    </nav>
</div> -->

<div class="hero">
    <nav>
        <span class="logo">PortFolio</span>
        <ul>
            <li>
                <a href="#"> 
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                  About
                </a>
            </li>
            <li>
                <a routerLink="/qualification">
                   Skill
                </a>
            </li>
            <li>
                <a href="#">
                   Experience
                </a>
            </li>
            <li>
                <a href="#">
                   Services 
                </a>
            </li>
            <li>
                <a href="#">
                   Contact 
                </a>
            </li>
            <button>Downloade Resume</button>
        </ul>
   
    </nav>

    <div class="detel">
        <h1> I,m Vishal <span> surase</span> </h1>
        <p> This is my Official PortFolio Website to showes all
            <br> Details and Work experience in UI developement 
        </p>
       <!-- <a href="#"> </a> -->
       <a download="vishalResume.pdf" target="_blank" href="/assets/files/vishalResume.pdf">
        Downloade Cv
      </a>
    </div>
    <div class="images">
       <img src="/assets/images/shape2.png" class="shape" >
       <img src="/assets/images/vish2.png" class="vish" >
    </div>
    
</div>



